/* estilos base de los lotes */
.lote {
  fill: transparent;
  stroke: #718f8f;
  stroke-width: 1;
  transition: fill 0.2s ease, stroke 0.2s ease;
  pointer-events: all;
}

.lote:hover {
  fill: rgba(0, 163, 255, 0.35);
  /* color al pasar */
  stroke: #00a3ff;
  cursor: pointer;
}