/* estilos base de los lotes */
.lote {
  fill: transparent;
  stroke: #718f8f;
  stroke-width: 1;
  transition: fill 0.2s ease, stroke 0.2s ease;
  pointer-events: all;
}

.lote:hover {
  fill: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}